*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------HEADER */
html{scroll-behavior: smooth;}
.header{
    background-color: black;
    position: fixed;
    width: 100%;
}
.nav{
    max-width: 975px; 
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}
.logo{width: 60px;}
.lien, .lien:link{
    color: white;
    text-decoration: none;
}
.lien:hover{
    color: coral;{scroll-snap-align:smooth;: }
}
/* ----------------------------BIENVENUE */
.hero{
    background-image: url(../assets/images/resto.jpg);
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texte-centre{width: 40%;/*Ou alors un max-width: 600px;*/}
.hero-bienvenue{
    color: white;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
}
.hero-texte{color: white;}
/* ----------------------------GALERIE */
.galerie{
    display: flex;
    height: 30vh;
}
.cheese{
    width: 50%;
    object-fit: cover;
}
.donut{
    width: 20%;
    object-fit: cover;
}
.burger{
    width: 30%;
    object-fit: cover;
}
/* ----------------------------HORAIRES */
.section-horaires{
    background-image: url(../assets/images/open.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.section-horaires h2{
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    padding-left: 260px;
    padding-top: 114px;
}
.texte-bas{
    padding-left: 260px;
    padding-bottom: 105px
}
.floatl{float: left;}
.semaine{padding: 0px 90px 0  0 ;}
.heures{text-align: right;
}